<section class="landing">
  <div class="join-container"
    ng-if="landingCtrl.showSignup">
    <div class="join-inner">
      <signup-controller></signup-controller>
      <p>already a member?</p>
      <a href="/#!/login"
        ng-click="landingCtrl.showSignup=false" class="nav-btn">
        sign in here.
      </a>
    </div>
  </div>

  <div class="join-container"
    ng-if="!landingCtrl.showSignup">
    <div class="join-inner">
      <login-controller></login-controller>
      <p>want to signup?</p>
      <a href="/#!/signup"
        ng-click="landingCtrl.showSignup=true" class="nav-btn">
        sign up here.
      </a>
    </div>
  </div>
</section>
